Repository 18F/identity-idp, pull requests merged in 2022-08, with the labels that each got.

#6642 [LG-6900] Add a form to validate payload fields returned from VA inherited proofing
  app/forms/idv/inherited_proofing/va/form.rb
  spec/forms/idv/inherited_proofing/va/form_spec.rb
Labels: inherited proofing

#6614 Add Pinpoint Check to GitLab CI
  .gitlab-ci.yml
Labels: status - work in progress

#6673 [LG-6902] Validate data from VA IP API which amounts to presence: true
  app/forms/idv/inherited_proofing/va/form.rb
  spec/forms/idv/inherited_proofing/va/form_spec.rb
Labels: inherited proofing

#6667 Lg 6899 decrypting va data
  spec/services/inherited_proofing/va/service_spec.rb
  spec/support/shared_contexts/inherited_proofing/encrypted_user_attributes.json
  spec/support/shared_contexts/inherited_proofing/va_api_context.rb
  spec/support/shared_contexts/inherited_proofing/va_user_context.rb
Labels: status - ready for review, inherited proofing

#6647 LG-6668 safeguard failed message
  app/services/doc_auth/acuant/responses/get_results_response.rb
  app/services/doc_auth/lexis_nexis/responses/true_id_response.rb
  app/services/doc_auth/processed_alert_to_log_alert_formatter.rb
  spec/services/doc_auth/acuant/responses/get_results_response_spec.rb
  spec/services/doc_auth/lexis_nexis/responses/true_id_response_spec.rb
  spec/services/doc_auth/processed_alert_to_log_alert_formatter_spec.rb
Labels: status - ready for review

#6698 [LG-6797] Move the codeZ created by LG-6797 Code to a Different Location in our Codebase
  app/services/idv/inherited_proofing/va/service.rb
  app/services/inherited_proofing/va/service.rb
  spec/services/idv/inherited_proofing/va/service_spec.rb
  spec/support/shared_contexts/inherited_proofing/va_api_context.rb
Labels: inherited proofing

#6775 Remove mail bounced implementation
  app/controllers/concerns/verify_profile_concern.rb
  app/controllers/idv/doc_auth_controller.rb
  app/controllers/idv/gpo_controller.rb
  app/decorators/user_decorator.rb
  app/models/gpo_confirmation_code.rb
  app/presenters/idv/gpo_presenter.rb
  app/services/analytics_events.rb
  app/services/idv/session.rb
  app/views/accounts/_pending_profile_bounced_gpo.html.erb
  app/views/accounts/show.html.erb
  app/views/idv/gpo/_new_address.html.erb
  app/views/idv/gpo/index.html.erb
  config/locales/account/en.yml
  config/locales/account/es.yml
  config/locales/account/fr.yml
  config/locales/idv/en.yml
  config/locales/idv/es.yml
  config/locales/idv/fr.yml
  spec/controllers/idv/gpo_controller_spec.rb
  spec/features/saml/ial2_sso_spec.rb
  spec/support/controller_helper.rb
  spec/views/idv/gpo/index.html.erb_spec.rb
Labels: needs code review

#6823 LG-6970 create inherited proofing basic landing page
  app/controllers/idv/inherited_proofing_controller.rb
  app/services/idv/flows/inherited_proofing_flow.rb
  app/services/idv/steps/inherited_proofing/get_started_step.rb
  app/services/idv/steps/inherited_proofing_base_step.rb
  app/views/idv/inherited_proofing/get_started.html.erb
  config/application.yml.default
  config/locales/inherited_proofing/en.yml
  config/locales/inherited_proofing/es.yml
  config/locales/inherited_proofing/fr.yml
  config/routes.rb
  lib/identity_config.rb
  spec/controllers/idv/inherited_proofing_controller_spec.rb
  spec/views/idv/inherited_proofing/get_started.html.erb_spec.rb
Labels: inherited proofing

#6842 LG-6970 fix class inheritance of inherited proofing GetStartedStep
  app/services/idv/steps/inherited_proofing/get_started_step.rb
Labels: inherited proofing

#6876 [LG-7394] Create test VA script to obtain user PII
  scripts/inherited-proofing-va-test.rb
Labels: inherited proofing
